*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background: red;
}
.top-header{
    background: #474747;
    width: 100%;
    height: 35px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a span{
    margin: 0 5px;
    background: #5d5c5c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons a:hover span{
    background: transparent;
    font-size: 22px;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
}
.information div a{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255,0.9);
}
.information div p{
    font-size: 13px;
}
.information div span{
    margin: 0 5px;
    font-size: 16px;
}
.information div:hover p{
    text-decoration:underline;
}
.header{
    background: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.header-right a{
 border: 1px solid #474747;
 color: #353535;
 border-radius: 20px;
 padding: 10px 12px;
 font-weight: bolder;
}
.header-right a:hover{
 background: rgb(202, 7, 7);
 color: white;
 border: none;
}
.header-center ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.header-center ul li a{
    margin: 0 15px;
    color: #353535;
    padding: 10px 13px;
    border-radius: 20px;
}
.header-center ul li .active{
    background: #dddddd;
}
.header-center ul li:hover a{
    background: #dddddd;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}