* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: url('landing.jpg') no-repeat;
    background-position:  center;
    background-size: cover;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#menu{
    display: none;
}
.top-header {
    background: #474747;
    width: 100%;
    height: 35px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a span {
    margin: 0 5px;
    background: #5d5c5c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 7px;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a:hover span {
    background: transparent;
    font-size: 22px;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information div a {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255, 0.9);
}

.information div p {
    font-size: 13px;
}

.information div span {
    margin: 0 5px;
    font-size: 16px;
}

.information div:hover p {
    text-decoration: underline;
}

.header {
    background: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header-right a {
    border: 1px solid #474747;
    color: #353535;
    border-radius: 20px;
    padding: 10px 12px;
    font-weight: bolder;
}

.header-right a:hover {
    background: rgb(202, 7, 7);
    color: white;
    border: none;
    padding:11px 13px;
}

.header-center ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-center ul li a {
    margin: 0 15px;
    color: #353535;
    padding: 10px 13px;
    border-radius: 20px;
}

.header-center ul li .active {
    background: #dddddd;
}

.header-center ul li:hover a {
    background: #dddddd;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main .content {
    width: 400px;
    height: 560px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    text-align: center;
    padding: 20px 10px;
    font-size: 50px;
    font-weight: 400;
}

.content p {
    text-align: center;
    line-height: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #515151;
}
.content .btns .book {
    background: rgb(202, 7, 7);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    font-weight: bolder;
    display: inline-block;
    font-weight: 100;
    margin: 0 15px;
}
.content .btns .more{
    border: 1px solid #474747;
    color: #353535;
    border-radius: 20px;
    padding: 10px 12px;
    font-weight: bolder;
}
.content .btns .book:hover{
    background: transparent;
    color: #353535;
    border: 1px solid #474747;
    padding: 9px 11px;
}
.content .btns .more:hover{
    background: rgb(202, 7, 7);
    color: white;
    border: none;
    padding: 11px 13px;
}
@media (max-width:850px){
    .header{
        padding: 10px;
    }
    .header-right a{
        font-size: 12px;
        padding:10px 12px;
    }
    .header-center ul li a{
        font-size: 15px;
    }
    .content h1{
        font-size: 38px;
    }
    .content p{
        font-size: 13px;
    }
    .content .btns a{
        font-size: 13px;
    }
}
@media (max-width:741px){
 .header-right a{
    display: none;
 }
 .header-left img{
    display: none;
 }
 .information div p{
 font-size: 11px;
 }
 .icons a span{
    width: 25px;
    height: 25px;
 }
}
@media (max-width:550px){
    .content h1{
        font-size: 34px;
    }
}
@media (max-width:510px){
    .header-center ul{
        display: none;
    }
    .header{
        height: 50px;
        background:lightslategray;
        justify-content: end;
        padding: 20px;
    }
    #menu{
        display: block;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }
}